@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.shk {
  position: inherit;
  height: 120px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  border: none;
  box-shadow: 0px 0px 14px 6px #e2e2e280;
  cursor: auto;
  font: 400 18px/1.42 Pingfang SC, Hiragano, Helvetica Neue, sans-serif;
}
.shk.Fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
}
.shk.Fixed.Top {
  top: 0;
}
.shk.Seeking {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.shk_left {
  position: relative;
  width: 120px;
  flex-shrink: 0;
  height: 100%;
}
.shk_right {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  padding: 14px 30px 10px;
  border: none;
  border-left: 5px solid var(--theme-color);
  width: calc(100% - 120px);
}
.shk_cover {
  background-color: var(--theme-color);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.shk_btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.shk_left .shk_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shk_right .shk_btn {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  color: var(--theme-color);
  font-size: 13px;
}
.shk_left .shk_btn svg {
  box-sizing: border-box;
}
.shk_btn:hover .shk_btn_play,
.shk_btn:hover .shk_btn_pause {
  opacity: 0.8;
}
.shk_btn .shk_btn_pause {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.shk.Pause .shk_btn .shk_btn_play,
.shk.Play .shk_btn .shk_btn_pause {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.05s 0.01s ease-in, visibility 0.01s;
}
.shk.Pause .shk_btn .shk_btn_pause,
.shk.Play .shk_btn .shk_btn_play {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.01s ease-in, visibility 0.01s 0.01s;
}
.shk_text {
  overflow: hidden;
  width: 100%;
}
.shk_text,
.shk_controls,
.shk_time {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.shk_subtitle {
  display: inline-block;
  font-weight: 500;
  color: var(--theme-color);
  max-width: calc(100% - 164px);
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: clip;
}
.shk_title {
  display: inline-block;
  font-weight: 100;
  margin-top: 2px;
  font-size: 24px;
  white-space: nowrap;
  transition: transform 0s ease-in-out;
}
.shk_controls {
  position: absolute;
  top: 8px;
  right: 20px;
  z-index: 1;
}
.shk_controls .shk_btn:hover {
  opacity: 0.8;
}
.shk_right .shk_btn svg {
  width: 16px;
  height: 16px;
  padding: 10px;
  fill: var(--theme-color);
  vertical-align: middle;
}
.shk_btn.shk_btn_forward svg,
.shk_btn.shk_btn_backward svg {
  width: 18px;
  height: 18px;
  padding: 9px;
}
.shk_controls svg.shk_btn_unmute,
.shk.Mute .shk_controls svg.shk_btn_mute {
  display: inline-block;
}
.shk_controls svg.shk_btn_mute,
.shk.Mute .shk_controls svg.shk_btn_unmute {
  display: none;
}

.shk_bar-wrap {
  height: 18px;
  padding: 1px 0;
  position: relative;
  cursor: pointer;
}
.shk_bar {
  position: relative;
  width: 100%;
  height: 3px;
  margin-top: 7px;
  box-sizing: border-box;
  background: #e7e7e7;
  z-index: 0;
}
.shk_bar .shk_bar_loaded,
.shk_bar .shk_bar_played {
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.shk_bar .shk_bar_loaded {
  background: var(--theme-color);
  filter: opacity(30%);
  z-index: 1;
}
.shk_bar .shk_bar_played {
  background: #e7e7e770;
  z-index: 2;

}
.shk_bar .bar-handle {
  background: var(--theme-color);
  position: absolute;
  top: 0;
  right: 0px;
  margin-top: -6px;
  margin-right: -8px;
  height: 16px;
  width: 8px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.shk_bar .bar-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.shk_bottom {
  position: absolute;
  right: 30px;
  bottom: 10px;
  font-size: 0px;
  font-weight: 400;
  color: #555555;
}
.shk_bottom span {
  vertical-align: middle;
}
.shk_loader {
  display: none;
  color: var(--theme-color);
}
.shk.Loading .shk_loader {
  display: inline-block;
}
.shk_loader svg {
  width: 12px;
  height: 12px;
  animation: rotate 1.4s linear infinite;
  -webkit-animation: rotate 1.4s linear infinite;
  -moz-animation: rotate 1.4s linear infinite;
  position: relative;
}
.shk_visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.shk_time {
  margin-left: 4px;
  display: inline-block;
}
.shk_time span {
  font-size: 12px;
}
.shk_time .shk_time_duration::before {
  content: '/';
  margin: 0 4px;
}

@media (max-width: 768px) {
  .shk {
    height: 60px;
  }
  .shk_left {
    width: 60px;
  }
  .shk_left .shk_btn svg {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .shk_btn .shk_btn_pause {
    bottom: 0;
    right: 0;
  }
  .shk_btn_pause ellipse {
    stroke-width: 0.8;
  }
  .shk_right {
    padding: 5px 10px;
  }
  .shk_subtitle {
    display: none;
  }
  .shk_title {
    font-size: 1rem;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .shk_controls {
    bottom: 0;
    left: 0;
    top: auto;
  }
  .shk_bar-wrap {
    display: none;
  }
  .shk_bottom {
    right: 10px;
    bottom: 10px;
  }
}
